@import "https:necolas.github.io/normalize.css/8.0.1/normalize.css";
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  margin: 0;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 940px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform;
}

.section {
  height: 100%;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
}

.hero__section {
  background: url(../img/hello.JPG) no-repeat top center;
  color: #fff;
  background-size: cover;
  padding: 0 0 3.7777777778rem;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .hero__section {
    background-position: center right 19%;
  }
}

.hero__title-section {
  width: 42%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.2222222222rem;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 3.2222222222rem;
}

.header {
  padding-top: 1.3333333333rem;
  margin-bottom: 6rem;
}
@media screen and (max-width: 768px) {
  .header {
    background: #1968B1;
    height: 5.5555555556rem;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  margin: 0 30px;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.2222222222rem;
  margin-bottom: 10px;
}
.menu__item:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #FFD517;
}
.menu__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number {
  font-size: 1.3333333333rem;
  margin-right: 0;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
  color: white;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__icon {
  width: 1.9444444444rem;
  height: 1.9444444444rem;
  margin-right: 0.3888888889rem;
}

.icon {
  width: 100%;
  height: 100%;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

.btn {
  font-size: 1rem;
  font-weight: 800;
  padding: 1.1666666667rem 2.2777777778rem;
  font-family: inherit;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1rem;
  text-decoration: none;
  background: #FEDB3F;
  border: none;
  color: #000000;
}
.btn:hover {
  background: #FFD517;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  font-weight: normal;
  text-transform: none;
  padding-left: 1.2222222222rem;
}
.btn--theme--transparent:hover {
  background: transparent;
  color: #FEDB3F;
}

.product-slider {
  position: relative;
  max-width: 1100px;
}
.product-slider .bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.products-slider__arrow--direction--next, .products-slider__arrow--direction--prev {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  width: 0.7222222222rem;
  height: 1.5rem;
}

.products-slider__arrow--direction--prev {
  left: 0;
}

.products-slider__arrow--direction--next {
  right: 0;
}

.arrow {
  width: 100%;
  height: 100%;
}

.products__section {
  background: #F8FAF9;
  color: black;
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .product__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.product__col {
  width: 50%;
  position: relative;
}

.product__col__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__col__content {
  width: auto;
}

.product__element {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-60%, -50%);
          transform: translate(-60%, -50%);
  width: 100%;
  height: 100%;
  max-width: 22rem;
  max-height: 21rem;
}

.product__title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.3888888889rem;
  text-transform: uppercase;
  margin-top: 2.8888888889rem;
}

.product__text {
  line-height: 1.2222222222rem;
  color: #666666;
  width: 20.4444444444rem;
  margin-top: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .product__text {
    width: auto;
  }
}

.product__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .product__values {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product__parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.3333333333rem;
}

.product__parameter {
  margin-right: 3.0555555556rem;
}

.parameter__title {
  color: #666666;
}

.product__info {
  font-weight: bold;
  line-height: 1.2222222222rem;
}

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.3333333333rem;
}

.price {
  font-weight: 300;
  font-size: 3.3333333333rem;
  line-height: 3.3333333333rem;
  margin-right: 1.5555555556rem;
}

.product__specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.product__specifications:hover .dropdown__menu {
  left: 5rem;
  top: 0;
  right: 0;
}

.specification__btn {
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  background: #3A587E;
  border-radius: 0.2222222222rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.specification__btn:hover {
  background: #3465A3;
}
@media screen and (max-width: 768px) {
  .specification__btn {
    display: none;
  }
}

.specification__icon {
  width: 2.1111111111rem;
  height: 2.1111111111rem;
  margin-top: 0.9444444444rem;
}

.specification__text {
  padding-top: 0.3888888889rem;
  margin-bottom: 0.6666666667rem;
  color: #fff;
  font-size: 0.7777777778rem;
  line-height: 0.9444444444rem;
  text-transform: uppercase;
}

.dropdown__menu {
  position: absolute;
  opacity: 0.8;
  top: 100%;
  left: -5555.5rem;
  width: 15.1666666667rem;
  height: 16.1666666667rem;
  background: #ECECEC;
  -webkit-box-shadow: 4px 4px 40px 0px #0000000F;
          box-shadow: 4px 4px 40px 0px #0000000F;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 4px;
  font-size: 0.8888888889rem;
}

.dropdown__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5555555556rem 1.1666666667rem 1.7222222222rem 1.6666666667rem;
}

.dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dropdown__item:last-child {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.dropdown__icon {
  width: 1.7777777778rem;
  height: 1.7777777778rem;
  margin-right: 0.9444444444rem;
}

.dropdown__specification {
  width: 7.0555555556rem;
  height: 1.3333333333rem;
  font-weight: 500;
}

.dropdown__text {
  width: 2.9444444444rem;
  height: 1.3333333333rem;
}

.team__section {
  color: black;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 1.1111111111rem;
  max-width: 12.3333333333rem;
  position: relative;
}
.team__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .team__item {
    margin-bottom: 0.9444444444rem;
  }
}

.team__member {
  max-height: 16.1111111111rem;
  margin-bottom: 1.1111111111rem;
}

.team__member-img {
  display: inline;
}

.team__title {
  padding-right: 0.7222222222rem;
  color: #292929;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.1666666667rem;
  border: none;
  background: #fff;
  background-image: url(../img/icons/svg/triangle.svg);
  background-repeat: no-repeat;
  background-position: 100% 57%;
}
@media screen and (max-width: 768px) {
  .team__title {
    margin-bottom: 0.8333333333rem;
  }
}

@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}

.team--version--desktop .team__content {
  position: absolute;
  top: 100%;
}

.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
}

.team__content-block {
  padding-bottom: 0.2777777778rem;
}

.team__profession {
  margin-top: 2%;
  margin-bottom: 1%;
  color: #292929;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .team__profession {
    font-weight: 700;
  }
}

.team__text {
  font-weight: 300;
  padding: 0 7%;
  color: #666666;
}

.team--version--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.headline {
  text-align: center;
  margin-bottom: 2.7222222222rem;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 36px;
  }
}

.headline__subtitle {
  padding: 0 26%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 4%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.7222222222rem;
  }
}
.benefits__item:before {
  content: url(../img/icons/dots.png);
  position: absolute;
  top: 2.6666666667rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit__section {
  color: black;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__title {
  font-weight: bold;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    margin-right: 0.6666666667rem;
  }
}

.benefit__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__desc {
  color: #666;
}

.reviews__section {
  color: black;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
  margin-bottom: 0.8333333333rem;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.2222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
}

.reviews__text {
  margin-bottom: 2rem;
  color: #666;
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__list {
  position: relative;
  min-height: 280px;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.active {
  border-color: #FEDB3F;
}

.interactive-avatar-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.acco__section {
  background: url(../img/acco-bg.jpg) center top no-repeat;
  background-size: cover;
  color: #fff;
  max-width: 100%;
  position: relative;
}

.acco-menu-section__title {
  position: absolute;
  left: 4.6666666667rem;
  top: 6.0555555556rem;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
}

.menu-acco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-acco__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .menu-acco__item.active {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
}
@media screen and (max-width: 480px) and (max-width: 375px) {
  .menu-acco__item {
    width: 18%;
  }
  .menu-acco__item.active {
    width: 84%;
  }
}

.menu-acco__trigger {
  position: relative;
  width: 5.6666666667rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}
.menu-acco__trigger--longboard {
  background: url(../img/longboard.jpg);
  background-position: center center;
  background-size: cover;
}
.menu-acco__trigger--shortboard {
  background: url(../img/shortboard.jpg);
  background-position-x: center;
  background-size: cover;
}
.menu-acco__trigger--softtop {
  background: url(../img/softtop.jpg);
  background-position-x: center;
  background-size: cover;
}

.menu-acco__trigger-text {
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  font-weight: bold;
  white-space: nowrap;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding-top: 40px;
}

.menu-acco__content {
  width: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: rgba(51, 53, 55, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}
@media screen and (max-width: 480px) {
  .menu-acco__content {
    -webkit-transition: none;
    transition: none;
  }
}

.menu-acco__container {
  padding: 42px 53px 45px 38px;
}

.menu-acco__content-text {
  font-size: 16.0138px;
  line-height: 24px;
}

.active.menu-acco__content {
  width: 29.1111111111rem;
}

.player-section {
  background: #F8FAF9;
  color: black;
}

.player__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-section__container {
  width: 36.7777777778rem;
  height: 21.7677777778rem;
}
@media screen and (max-width: 480px) {
  .player-section__container {
    width: 18.5rem;
    height: 12.6666666667rem;
  }
}

.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.player__splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background: url(../img/player.png) center center/cover no-repeat;
}

.play__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.player__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  background: #3e3e3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
}

.player__start {
  width: 0;
  height: 0;
  cursor: pointer;
  border: 10px solid transparent;
  border-left-color: #626262;
  border-right-width: 0px;
  border-top-width: 8px;
  border-bottom-width: 8px;
  background: transparent;
}

.player__splash {
  display: block;
}

.paused .player__start {
  width: 22px;
  height: 22px;
  border: none;
}
.paused .player__start::after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  top: 8px;
  bottom: 8px;
  background: #626262;
}
.paused .player__start::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  top: 8px;
  bottom: 8px;
  background: #626262;
  left: 22px;
}
.paused .player__splash {
  display: none;
}

.player__playback {
  width: 21.1111111111rem;
  height: 16px;
  border-radius: 1px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  position: relative;
}
.player__playback::before {
  content: "";
  height: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background-color: #626262;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 480px) {
  .player__playback {
    width: 8rem;
  }
}

.player__playback-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #626262;
  cursor: pointer;
  border: none;
  width: 13px;
  height: 13px;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.player__duration {
  color: #626262;
}

@media screen and (max-width: 768px) {
  .player__elem {
    width: 34.7222222222rem;
    height: 20.8333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .player__elem {
    width: 18.4444444444rem;
    height: 12.1111111111rem;
  }
}

.order__section {
  background: url(../img/form.jpg) center top no-repeat;
  background-size: cover;
  color: #fff;
  max-width: 100%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border-radius: 0.2222222222rem;
  border: solid 0.1666666667rem transparent;
}
@media screen and (max-width: 768px) {
  .form__input {
    height: 2rem;
  }
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.5555555556rem;
  }
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}

.input-error {
  border-color: #f03939;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.1666666667rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__controls--check-mark {
  margin-bottom: 2.6111111111rem;
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 0.5rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0.2222222222rem;
}
.radio--checkbox .radio__visible::before {
  background: url(../img/icons/check-mark.svg) center center no-repeat;
}
@media screen and (max-width: 768px) {
  .radio {
    margin-bottom: 0.4444444444rem;
  }
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  margin-right: 0.5555555556rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible::before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 25%;
  left: 25%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu--shadowed {
  color: #292929;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  background: currentColor;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:hover {
  background: currentColor;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 26px;
  height: 21px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #333537;
  color: #fff;
  z-index: 1000;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}
.fullscreen-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
}
@media screen and (max-width: 768px) {
  .fullscreen-menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.fullscreen-menu__close {
  display: block;
  position: absolute;
  top: 3%;
  right: -14%;
  width: 7.8888888889rem;
  cursor: pointer;
}

.hamburger__icon {
  width: 1.3333333333rem;
  height: 1.3333333333rem;
}

.menu--vertical {
  font-size: 36px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .menu--vertical {
    display: block;
  }
}

.menu__list--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map {
  width: 100%;
  height: 100%;
}

.footer {
  background: #fff;
  height: 5.1666666667rem;
  padding-top: 0.9444444444rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-top: 1.5555555556rem;
    height: 5.9444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 1.1111111111rem;
    height: 8.3888888889rem;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media screen and (max-width: 480px) {
  .footer__container {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 0.9444444444rem;
    margin-bottom: 1.9444444444rem;
  }
}

@media screen and (max-width: 480px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.0555555556rem;
  }
}

.contacts__place {
  font-size: 1.1666666667rem;
  font-style: normal;
  line-height: 1.3333333333rem;
}

.footer__phone-number {
  font-style: normal;
}

.phone-number__icon-elem--black {
  color: black;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

.socials {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 6.7777777778rem;
  right: 4.4444444444rem;
  padding-top: 0.9444444444rem;
}
@media screen and (max-width: 768px) {
  .socials {
    right: 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .socials {
    position: static;
    padding-top: 0;
  }
}

.social__item {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
}

.social__link :hover {
  color: black;
}

.social__icon {
  width: 100%;
  height: 100%;
  color: #B3B3B3;
}

.modal {
  display: none;
}
.modal.error-modal {
  color: red;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}

.modal__container {
  background: #fff;
  padding: 35px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__content {
  margin-bottom: 28px;
  color: #000;
}