.acco__section {
    background: url(../img/acco-bg.jpg) center top no-repeat;
    background-size: cover;
    color: #fff;
    max-width: 100%;
    position: relative;
}

.acco-menu-section__title {
    position: absolute;
    left: rem(84px);
    top: rem(109px);
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
}

.menu-acco {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

.menu-acco__item {
    display: flex;

    @include phones {
        &.active {
            flex-shrink: 0;
            order: 1;
            width: 100%;
        }

    @include iphone {
        width: 18%;
        &.active {
            width: 84%;
        }
    }
    }
}

.menu-acco__trigger {
    position: relative;
    width: rem(102px);
    display: flex;
    justify-content: center;
    text-decoration: none;
    
    

    &--longboard{
    background: url(../img/longboard.jpg);
    background-position: center center;
    background-size: cover;
    }

    &--shortboard{
     background: url(../img/shortboard.jpg);
    background-position-x: center;
    background-size: cover;
    }

    &--softtop{
    background: url(../img/softtop.jpg);
    background-position-x: center;
    background-size: cover;
    }
}

.menu-acco__trigger-text {
    font-size: rem(48px);
    line-height: rem(58px);
    font-weight: bold;
    white-space: nowrap;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    padding-top: 40px;
}

.menu-acco__content {
    width: 0;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: rgba(51, 53, 55, 0.9);
    backdrop-filter: blur(10px);
    transition: width .7s;

    @include phones {
        transition: none;
    }
}

.menu-acco__container {
    padding: 42px 53px 45px 38px;
}

.menu-acco__content-text {
    font-size: 16.0138px;
    line-height: 24px;
}

.active{
    &.menu-acco__content {
    width: rem(524px);
    }
}