.feature {
  display: flex;
  align-items: center;
}

.feature__icon {
  width: rem(35px);
  height: rem(35px);
  margin-right: rem(7px);
}

.icon {
  width: 100%;
  height: 100%;
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(85px);
}