.header {
  padding-top: rem(24px);
  margin-bottom:  rem(108px);
  @include tablets {
    background: #1968B1;
    height: rem(100px);
    }
}

.header__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu {
  margin: 0 30px;
  padding-top: 5px;
  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: rem(22px);
  margin-bottom: 10px;

  &:hover {
    transition: .5s;
    color: #FFD517 ;
  }

  &:last-child {
    margin-right: 0;
  }
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}

.phone-number {
  font-size: rem(24px);
  margin-right: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon-elem {
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(6px);
  color: white;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;

}