.product-slider {
    position: relative;
    max-width: 1100px;

    .bx-wrapper {
        border: 0;
        background: transparent;
        box-shadow: none;
    }
}

.products-slider__arrow--direction--next, .products-slider__arrow--direction--prev {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    width: rem(13px);
    height: rem(27px);
}

.products-slider__arrow--direction--prev {
    left: 0;
}

.products-slider__arrow--direction--next {
    right: 0;
}

.arrow {
    width: 100%;
    height: 100%;
}
