.reviews__section {
  color: black;
}

.reviews__display {
  background: #F8FAF9;
  padding: rem(50px) rem(45px) rem(34px);
  margin-bottom: rem(15px);
}

.reviews__display-inner {
  display: flex;

  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: rem(254px);
  height: rem(256px);

  @include tablets {
    width: rem(130px);
  height: rem(130px);
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: rem(20px);

  @include phones {
    margin-left:0;
  }
  
}

.reviews__title {
  font-size: rem(30px);
  font-weight: bold;
  margin-bottom: rem(22px);
}

.reviews__text {
  margin-bottom: rem(36px);
  color: #666;
}

.reviews__author {
  font-size: rem(18px);
  font-weight: bold;
}

.reviews__switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__list {
  position: relative;
  min-height: 280px;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
}

.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

